* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

header {
    height: 80px;
    background-color: sienna;
    border: 2px solid black;
}

h1 {
    font-family: 'Holtwood One SC', serif;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

footer {
    background-color: sienna;
    height: 50px;
    border: 2px solid black;
    text-align: center;
}

footer h2 {
    font-family: 'Holtwood One SC', serif;
    display: inline;
    font-size: 22px;
    line-height: 50px;
    margin: auto 10px;
}

/* ---Start to media queries, but could not figure out how to display keyboards on mobile devices

@media only screen and (max-width: 640px) {

h1, h2 {
    font-size: 20px;
}

img {
    height: 250px;
}

footer {
    height: 40px;
}

}
*/